black
flake8
ipython
ipykernel
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tensorflow
tfrecord
tqdm
typer
transformers
torch
torchvision
datasets
-e .
