black
flake8
ipython
ipykernel
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tensorflow
tfrecord
tqdm
typer
transformers
torch
torchvision
datasets
wandb
pytorch-lightning
segmentation-models-pytorch
jsonargparse[signatures]==4.20.1
-e .
